@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #F6F5F6;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2 {
    font-weight: inherit;
    text-decoration: none;
    font-size: inherit;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}


.animation_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    text-align: center;
    /* padding: 50px 0; */
}

.animation_area section {
    position: relative;
    margin: 50px 0;
}

.animation_area section img {
    width: 440px;
    height: 330px;
}

.animation_area .caption {
    position: absolute;
    top: 0;
    width: 440px;
    height: 330px;
    background-color: #2c3f52;
}

.animation_area .caption h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.animation_area .caption h2 {
    color: #ED4E6E;
}
.animation_area .caption a {
    color: #fff;
    background-color: #ED4E6E;
    padding: 5px 3px;
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
}

.instar .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.instar .caption h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}
.instar .caption a {
    margin: 0 auto;
}

